@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
  --text: hsl(0, 0%, 2%);
  --background: hsl(0, 0%, 98%);
  --primary: hsl(85, 30%, 46%);
  --secondary: hsl(88, 29%, 90%);
  --accent: hsl(85, 30%, 50%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  display: grid;
  place-content: center;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* tags */
body {
  background: var(--background);
  display: grid;
  gap: 1rem;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent);
  box-shadow: 0px 5px 10px 5px gray;
}
header > span {
  font-size: 2rem;
  flex-grow: 1;
}

button {
  padding: 0.25rem;
}

#to-do-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 600px;
  min-width: 250px;
}

#to-do-form {
  display: flex;
  background-color: var(--accent);
}

.to-do-item {
  display: flex;
  /* justify-items: end; */
  align-items: center;
  background-color: var(--secondary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px 5px gray;
}

.to-do {
  flex-grow: 1;
}

.form-input input {
  border-radius: 0.5rem;
  padding: 0.25rem;
}
