:root {
  --text: hsl(0, 0%, 2%);
  --background: hsl(0, 0%, 98%);
  --primary: hsl(85, 30%, 46%);
  --secondary: hsl(88, 29%, 90%);
  --accent: hsl(85, 30%, 50%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
  display: grid;
  place-content: center;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* tags */
body {
  background: var(--background);
}

#to-do-list {
}

#to-do-form {
}

.to-do-item {
}

.to-do {
}
